doctype HTML
html
  head
    title adjacent
    style
      include style.css
  body      
    div(align="center")
      img(src="https://ktane.timwi.de/HTML/img/Component/Adjacent%20Letters.svg" width="200px")
      h1 On The Subject of Adjacent Letters
      br
      br
      form(action="/adjacent_letters" method="POST")
        table(width="50%")
        tr
          th Letter input
          td
            div(align="center")
              input(type="text" name="letters" value="")
              button(type='submit', name="submit") enter
          tr
            td(height="50" )
              div(id="outField" align="center") #{title}
      br
      br
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
