doctype HTML
html
  head
    title battleship
    style
      include style.css
  body      
    div(align="center")
      img(src="https://ktane.timwi.de/HTML/img/Component/Battleship.svg" width="200px")
      h1 On The Subject of Battleship
      br
      br
      table(width="50%")
        tr
          th(height="50")
            form(action="/battleship" method="POST")  
      table(border="1")
        each r in render
          tr(width="20px" height="20px")
            each c in r
              td(width="20px" hieght="20px") #{c}
      br
      br
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
