doctype HTML
html
  head
    title blindAlley
    style
      include style.css
  body      
    div(align="center")
      img(src="https://ktane.timwi.de/HTML/img/Component/Component.svg" width="200px")
      h1 On The Subject of Blind Alley
      br
      br
      table(width="50%")
        tr
          th(height="50")
            form(action="/blind_alley" method="POST")
                input(type="number" name="input" value="" maxlength="2")
      h1 #{output}
      a(href="http://localhost:3000")
        img(alt="letterKeys" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
