doctype HTML
html
  head
    title cheap checkout
    style
      include style.css
  body      
    div(align="center")
      img(src="https://ktane.timwi.de/HTML/img/Component/Cheap%20Checkout.svg" width="200px")
      h1 On The Subject of Cheap Checkout
      br
      br
      table(width="50%")
        tr
          th(height="50")
            form(action="/cheap_checkout" method="POST")
              div(id="chooseWords" align="center")
              input(type="submit" name="bananas" value="bananas" class="word-box")
              input(type="submit" name="broccoli" value="broccoli" class="word-box")
              input(type="submit" name="candy_canes" value="candy_canes" class="word-box")
              input(type="submit" name="canola_oil" value="canola_oil" class="word-box")
              input(type="submit" name="cereal" value="cereal" class="word-box")
              input(type="submit" name="cheese" value="cheese" class="word-box")
              input(type="submit" name="chicken" value="chicken" class="word-box")
              input(type="submit" name="chocolate_bar" value="chocolate_bar" class="word-box")
              input(type="submit" name="chocolate_milk" value="chocolate_milk" class="word-box")
              input(type="submit" name="coffee_beans" value="coffee_beans" class="word-box")
              input(type="submit" name="cookies" value="cookies" class="word-box")
              input(type="submit" name="deodorant" value="deodorant" class="word-box")
              input(type="submit" name="fruit_punch" value="fruit_punch" class="word-box")
              input(type="submit" name="grape_jelly" value="grape_jelly" class="word-box")
              input(type="submit" name="grapefruit" value="grapefruit" class="word-box")
              input(type="submit" name="gum" value="gum" class="word-box")
              input(type="submit" name="honey" value="honey" class="word-box")
              input(type="submit" name="ketchup" value="ketchup" class="word-box")
              input(type="submit" name="lemons" value="lemons" class="word-box")
              input(type="submit" name="lettuce" value="lettuce" class="word-box")
              input(type="submit" name="lollipops" value="lollipops" class="word-box")
              input(type="submit" name="lotion" value="lotion" class="word-box")
              input(type="submit" name="mayonnaise" value="mayonnaise" class="word-box")
              input(type="submit" name="mints" value="mints" class="word-box")
              input(type="submit" name="mustard" value="mustard" class="word-box")
              input(type="submit" name="oranges" value="oranges" class="word-box")
              input(type="submit" name="paper_towels" value="paper_towels" class="word-box")
              input(type="submit" name="pasta_sauce" value="pasta_sauce" class="word-box")
              input(type="submit" name="peanut_butter" value="peanut_butter" class="word-box")
              input(type="submit" name="pork" value="pork" class="word-box")
              input(type="submit" name="potato_chips" value="potato_chips" class="word-box")
              input(type="submit" name="potatoes" value="potatoes" class="word-box")
              input(type="submit" name="shampoo" value="shampoo" class="word-box")
              input(type="submit" name="socks" value="socks" class="word-box")
              input(type="submit" name="soda" value="soda" class="word-box")
              input(type="submit" name="spaghetti" value="spaghetti" class="word-box")
              input(type="submit" name="steak" value="steak" class="word-box")
              input(type="submit" name="sugar" value="sugar" class="word-box")
              input(type="submit" name="tea" value="tea" class="word-box")
              input(type="submit" name="tissues" value="tissues" class="word-box")
              input(type="submit" name="tomatoes" value="tomatoes" class="word-box")
              input(type="submit" name="toothpaste" value="toothpaste" class="word-box")
              input(type="submit" name="turkey" value="turkey" class="word-box")
              input(type="submit" name="water_bottles" value="water_bottles" class="word-box")
              input(type="submit" name="white_bread" value="white_bread" class="word-box")
              input(type="submit" name="white_milk" value="white_milk" class="word-box")
              br
              input(type="submit" name="checklb" value="Check")
              br
              input(type=""+ bananas_field name="bananas_lb" value="" placeholder="LB bananas")
              br
              input(type=""+ broccoli_field name="broccoli_lb" value="" placeholder="LB broccoli")
              br
              input(type=""+ chicken_field name="chicken_lb" value="" placeholder="LB chicken")
              br
              input(type=""+ grapefruit_field name="grapefruit_lb" value="" placeholder="LB grapefruit")
              br
              input(type=""+ lemons_field name="lemons_lb" value="" placeholder="LB lemons")
              br
              input(type=""+ lettuce_field name="lettuce_lb" value="" placeholder="LB lettuce")
              br
              input(type=""+ oranges_field name="oranges_lb" value="" placeholder="LB oranges")
              br
              input(type=""+ pork_field name="pork_lb" value="" placeholder="LB pork")
              br
              input(type=""+ potatoes_field name="potatoes_lb" value="" placeholder="LB potatoes")
              br
              input(type=""+ steak_field name="steak_lb" value="" placeholder="LB steak")
              br
              input(type=""+ tomatoes_field name="tomatoes_lb" value="" placeholder="LB tomatoes")
              br
              input(type=""+ turkey_field name="turkey_lb" value="" placeholder="LB turkey")
              br
              input(type="float" value="" placeholder="Amount payed")
              br
              input(type="submit" name="submit" value="Calculate")
        tr
          td(height="50" )
            div(id="outField" align="center") #{title}
      br
      br
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
