doctype HTML
html
  head
    title complicated wires
    style
      include style.css
  body      
    div(align="center")
      img(src="http://www.bombmanual.com/web/img/module-icons/VennWireComponent.svg" width="200px")
      h1 On The Subject of Complicated Wires
      br
      br
      form(action="/complicated_wires" method="POST")
        table(width="10%")
          tr
            th(height="50")
                div(id="checkIdentifiers" align="center")
                  ul
                   li Red 
                    input(type="checkbox" name="red" id="red")
                   li Blue  
                    input(type="checkbox" name="blue" id="blue")
                   li LED 
                    input(type="checkbox" name="led" id="led")
                   li Star  
                    input(type="checkbox" name="star" id="star")    
          tr 
            td(height="50")
              div(id="submitButton" align="center")
                button(type='submit', name="enter" value="") enter
          tr
            td(height="50" )
              div(id="outField" align="center") #{title}
      br
      br
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
