doctype html
html
  head
    title KCaNE
    script(type='text/javascript' src='scripts/jquery.js')
    script(type='text/javascript' src='scripts/search.js')
    link(rel="stylesheet" href="css/bootstrap.min.css")
    style
      include style.css
  body
      div(align="center")
        h1=title
        form(action='/' ,method='POST')
          table(width="300px" border="2")
            tr
              th AA Batteries
              td
                div(align="center")
                  input(type="number" name="aabatteries" value="0")
            tr
              th D Batteries
              td
                div(align="center")
                  input(type="number" name="dbatteries" value="0")
            tr
              th Battery Holders
              td
                div(align="center")
                  input(type="number" name="batteryHolders" value="0")
            tr
              th Serial #
              td
                div(align="center")
                  input(type="text" name="serialNo" value="000000")
            tr
              th Ports
              td
                  ul
                    li DVI-D
                      input(type="number" name="port_dvi" id="port_dvi" value="0")
                    li Parallel
                      input(type="number" name="port_parallel" id="port_parallel" value="0")
                    li PS/2
                      input(type="number" name="port_ps2" id="port_ps2" value="0")
                    li RJ-45
                      input(type="number" name="port_rj45" id="port_rj45" value="0")
                    li serial
                      input(type="number" name="port_serial" id="port_serial" value="0")
                    li Stereo RCA
                      input(type="number" name="port_rca" id="port_rca" value="0")
            tr
              th Indicators
              td
                  ul
                    li SND
                      input(type="checkbox" name="snd" id="snd")
                      label(for="snd") unlit
                      input(type="checkbox" name="sndlit" id="snd_lit")
                      label(for="snd-lit") lit
                    li CLR
                      input(type="checkbox" name="clr" id="clr")
                      label(for="clr") unlit
                      input(type="checkbox" name="clrlit" id="clr_lit")
                      label(for="clr_lit") lit
                    li CAR
                      input(type="checkbox" name="car" id="car")
                      label(for="car") unlit
                      input(type="checkbox" name="carlit" id="car_lit")
                      label(for="car_lit") lit
                    li IND
                      input(type="checkbox" name="ind" id="ind")
                      label(for="ind") unlit
                      input(type="checkbox" name="indlit" id="ind_lit")
                      label(for="ind_lit") lit
                    li FRQ
                      input(type="checkbox" name="frq" id="frq")
                      label(for="frq") unlit
                      input(type="checkbox" name="frqlit" id="frq_lit")
                      label(for="frq_lit") lit
                    li SIG
                      input(type="checkbox" name="sig" id="sig")
                      label(for="sig") unlit
                      input(type="checkbox" name="siglit" id="sig_lit")
                      label(for="sig_lit") lit
                    li NSA
                      input(type="checkbox" name="nsa" id="nsa")
                      label(for="nsa") unlit
                      input(type="checkbox" name="nsalit" id="nsa_lit")
                      label(for="nsa_lit") lit
                    li MSA
                      input(type="checkbox" name="msa" id="msa")
                      label(for="msa") unlit
                      input(type="checkbox" name="msalit" id="msa_lit")
                      label(for="msa_lit") lit
                    li TRN
                      input(type="checkbox" name="trn" id="trn")
                      label(for="trn") unlit
                      input(type="checkbox" name="trnlit" id="trn_lit")
                      label(for="trn_lit") lit
                    li BOB
                      input(type="checkbox" name="bob" id="bob")
                      label(for="bob") unlit
                      input(type="checkbox" name="boblit" id="bob_lit")
                      label(for="bob_lit") lit
                    li FRK
                      input(type="checkbox" name="frk" id="car")
                      label(for="frk") unlit
                      input(type="checkbox" name="frklit" id="frk_lit")
                      label(for="frk_lit") lit
          br
          button(type='submit', name="submit") enter
          button(type='submit', name="reset") reset
          br
          br
          input(type="text" id="search" placeholder="Filter modules")
          p(id="test")
          div(class="row" style="width: 90%")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Wires
                    a(href="wires")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/WireComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Button
                    a(href="button")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/ButtonComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Letter Keys
                    a(href="letter_keys")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Letter%20Keys.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Keypads
                    a( href="keypads")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/KeypadComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Simon Says
                    a( href="simon_says")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/SimonComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Who's On First
                    a( href="whos_on_first")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/WhosOnFirstComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Memory
                    a( href="memory")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/MemoryComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Morse Code
                    a( href="morse_code")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/MorseCodeComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Complicated Wires
                    a( href="complicated_wires")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/VennWireComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Wire Sequence
                    a( href="wire_sequence")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/WireSequenceComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Mazes
                    a( href="maze")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/MazeComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Fast Math
                    a( href="fast_math")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Fast%20Math.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Password
                    a( href="password")
                      img(width="100%" alt="module_svg" src="http://www.bombmanual.com/web/img/module-icons/PasswordComponent.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Adjacent Letters
                    a( href="adjacent_letters")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Adjacent%20Letters.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Adventure Games
                    a( href="adventure_games")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Adventure%20Game.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 3D Maze
                    a( href="3d_maze")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/3D%20Maze.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Alphabet
                    a( href="alphabet")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Alphabet.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Binary LEDs
                    a( href="binary_leds")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Binary%20LEDs.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Cheap Checkout
                    a( href="cheap_checkout")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Cheap%20Checkout.svg")
            div(class="col-md-2 module")
              div(class="card")
                div(class="card-body")
                  div(align="center")
                    h2 Anagrams
                    a( href="anagrams")
                      img(width="100%" alt="module_svg" src="https://ktane.timwi.de/HTML/img/Component/Anagrams.svg")
