doctype HTML
html
  head
    title keypads
    style
      include style.css
  body
    form(action="/keypads" method="POST")      
      div(align="center")
        img(src="http://www.bombmanual.com/web/img/module-icons/KeypadComponent.svg" width="200px")
        h1 On The Subject of Keypads
        br
        br
        form(action="/keypads" method="POST")
          table
            tr
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="balloon" value="")
                          img(alt="balloon" src="https://ktane.timwi.de/HTML/img/Keypad/28-balloon.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="at" value="" )
                          img(alt="at" src="https://ktane.timwi.de/HTML/img/Keypad/13-at.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="upsidedowny" value="" )
                          img(alt="upsidedowny" src="https://ktane.timwi.de/HTML/img/Keypad/30-upsidedowny.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="squigglyn" value="" )
                          img(alt="squigglyn" src="https://ktane.timwi.de/HTML/img/Keypad/12-squigglyn.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="squidknife" value="" )
                          img(alt="squidknife" src="https://ktane.timwi.de/HTML/img/Keypad/7-squidknife.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="hookn" value="" )
                          img(alt="hookn" src="https://ktane.timwi.de/HTML/img/Keypad/9-hookn.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="leftc" value="" )
                          img(alt="leftc" src="https://ktane.timwi.de/HTML/img/Keypad/23-leftc.png")
              td
                table(width="50px")
                  tr
                      td
                      div(align="center")
                        button(type='submit', name="paragraph" value="" )
                          img(alt="paragraph" src="https://ktane.timwi.de/HTML/img/Keypad/21-paragraph.png")
              td
                table(width="50px")
                  tr
                      td
                      div(align="center")
                        button(type='submit', name="bt" value="" )
                          img(alt="bt" src="https://ktane.timwi.de/HTML/img/Keypad/31-bt.png")            
            tr
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="euro" value="" )
                          img(alt="euro" src="https://ktane.timwi.de/HTML/img/Keypad/16-euro.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="cursive" value="" )
                          img(alt="cursive" src="https://ktane.timwi.de/HTML/img/Keypad/26-cursive.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="hollowstar" value="" )
                          img(alt="hollowstar" src="https://ktane.timwi.de/HTML/img/Keypad/3-hollowstar.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="questionmark" value="" )
                          img(alt="questionmark" src="https://ktane.timwi.de/HTML/img/Keypad/20-questionmark.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="copyright" value="" )
                          img(alt="copyright" src="https://ktane.timwi.de/HTML/img/Keypad/1-copyright.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="pumpkin" value="" )
                          img(alt="pumpkin" src="https://ktane.timwi.de/HTML/img/Keypad/8-pumpkin.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="doublek" value="" )
                          img(alt="doublek" src="https://ktane.timwi.de/HTML/img/Keypad/5-doublek.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="meltedthree" value="" )
                          img(alt="meltedthree" src="https://ktane.timwi.de/HTML/img/Keypad/15-meltedthree.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="six" value="" )
                          img(alt="six" src="https://ktane.timwi.de/HTML/img/Keypad/11-six.png")
            tr
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="smileyface" value="" )
                          img(alt="smileyface" src="https://ktane.timwi.de/HTML/img/Keypad/4-smileyface.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="pitchfork" value="" )
                          img(alt="pitchfork" src="https://ktane.timwi.de/HTML/img/Keypad/24-pitchfork.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="rightc" value="" )
                          img(alt="rightc" src="https://ktane.timwi.de/HTML/img/Keypad/22-rightc.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="dragon" value="" )
                          img(alt="dragon" src="https://ktane.timwi.de/HTML/img/Keypad/19-dragon.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="filledstar" value="" )
                          img(alt="filledstar" src="https://ktane.timwi.de/HTML/img/Keypad/2-filledstar.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="tracks" value="" )
                          img(alt="tracks" src="https://ktane.timwi.de/HTML/img/Keypad/27-tracks.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="ae" value="" )
                          img(alt="ae" src="https://ktane.timwi.de/HTML/img/Keypad/14-ae.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="nwithhat" value="" )
                          img(alt="nwithhat" src="https://ktane.timwi.de/HTML/img/Keypad/18-nwithhat.png")
              td
                table(width="50px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="omega" value="" )
                          img(alt="omega" src="https://ktane.timwi.de/HTML/img/Keypad/6-omega.png")
          table
            tr
              td
                table(width="450px")
                  tr
                    td
                      div(align="center")
                        button(type='submit', name="remove" value="")
                          img(alt="remove" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/OOjs_UI_icon_close.svg/1024px-OOjs_UI_icon_close.svg.png" width="65px")
          table(width="270px" border="1") 
            tr
              td
                div(align="center") Input
            tr(height="65px")
              td
                div(id="currentKeypads" align="center")
                  each keypad in keypads
                    img(src="https://ktane.timwi.de/HTML/img/Keypad/" + keypad + ".png")
          table(width="270px" border="1") 
            tr
              td
                div(align="center") Output
            tr(height="65px")
              td
                div(id="anwerKeypads" align="center")
                  each keypad in answer
                    img(src="https://ktane.timwi.de/HTML/img/Keypad/" + keypad + ".png")
          

        
        a(href="http://localhost:3000")
          img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
