doctype HTML
html
  head
    title password
    style
      include style.css
  body      
    div(align="center")
      img(src="http://www.bombmanual.com/web/img/module-icons/PasswordComponent.svg" width="200px")
      h1 On The Subject of Password
      br
      br
      form(action="/password" method="POST")
        table(width="50%")
          tr
            th Enter letters
          tr
            td
              div(align="center")
                input(type="text" name="letters1" id="letters1" value=""+ box1)
          tr
            td
              div(align="center")
                input(type="text" name="letters2" id="letters2" value=""+ box2)
          tr
            td
              div(align="center")
                input(type="text" name="letters3" id="letters3" value=""+ box3)
          tr
            td
              div(align="center")
                input(type="text" name="letters4" id="letters4" value=""+ box4)
          tr
            td
              div(align="center")
                input(type="text" name="letters5" id="letters5" value=""+ box5)
          tr
            td(height="50" )
              div(align="center")
                button(type='submit', name="submit" value="") enter
          tr
            td(height="50" )
              div(id="outField" align="center") #{title}
      br
      br
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
